@charset "UTF-8";
.title {
  font-family: var(--ff-title);
  font-style: normal;
  font-weight: 600;
  font-size: var(--fs-title);
  color: var(--clr-white);
  -webkit-text-stroke: 2px var(--clr-primary);
}

.subtitle {
  font-family: var(--ff-subtitle);
  font-size: var(--fs-subtitle);
  line-height: 32px;
  color: var(--clr-primary);
}

.text {
  font-family: var(--ff-text);
  font-size: var(--fs-text);
  line-height: 32px;
  color: var(--clr-text);
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 4rem auto;
  position: relative;
}

.about_container .image {
  width: 90%;
  max-width: 701px;
  height: 493px;
  -webkit-box-shadow: 40px 32px #979797;
          box-shadow: 40px 32px #979797;
}

.about_container .title {
  position: absolute;
  top: -15%;
  mix-blend-mode: hard-light;
}

.about_body {
  max-width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  margin-left: 10rem;
}

.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.vision .title {
  position: absolute;
  right: 0;
  top: 25%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.vision_body {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 865px;
}

.vision_body .subtitle {
  width: 460px;
}

.vision_body .text {
  width: 665px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.ourValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 5rem auto;
  position: relative;
}

.ourValues .title {
  position: absolute;
  bottom: 34%;
  mix-blend-mode: hard-light;
}

.ourValues .subtitle {
  margin: 5rem 0;
  width: 701px;
}

.ourValues .ourValues_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.ourValues .text {
  max-width: 560px;
}

.ourValues .image {
  width: 1000px;
  max-height: 654px;
  -webkit-box-shadow: -40px -32px var(--clr-secondary);
          box-shadow: -40px -32px var(--clr-secondary);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.team .title_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.team .title_container .text {
  max-width: 620px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 6rem;
  margin-left: -2rem;
}

.person_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 462px;
}

.person_card .subtitle {
  padding: 1rem 0;
}

.person_card .text {
  font-size: 14px;
  padding: 2rem 0;
  max-width: 375px;
}

.card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.card_top span {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -15%;
  top: 12%;
  text-transform: uppercase;
}

.card_top div {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 10px;
}

.card_left {
  margin-top: -60px;
}

@media screen and (max-width: 768px) {
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .about_container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_container .title {
    position: static;
    margin: 0 auto;
  }
  .about_container .image {
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 100%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1rem 0;
  }
  .about_container .about_body {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .vision {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .vision .title {
    margin: 0;
    color: red;
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .vision div {
    max-width: 100%;
  }
  .vision .subtitle {
    margin: 0;
    max-width: 80%;
  }
  .vision .text  {
    margin: 0;
    padding: 0;
    max-width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=about.module.css.map */