:root {
  --clr-primary: #1E252C;
  --clr-secondary:#2C4340;
  --clr-text: #4A4A4A;
  --clr-black:#1E252C;
  --clr-white:#ffffff;
  --ff-title: 'Eczar', serif;
  --ff-subtitle: 'Poppins', sans-serif;
  --ff-text:'Roboto Mono', monospace;
  --fs-title:5rem;
  --fs-subtitle:1.625rem;
  --fs-text:1.125rem;
}
@media (max-width: 767px) { 
  :root {
    font-size: 10px;
  }
 }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

.icon_group {
  width: 85px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
.icons_vertical {
  display: flex;
  height: 70px;
  width: 21px;
  flex-direction: column;
}
.title {

  font-family: var(--ff-title);
  font-style: normal;
  font-weight: 600;
  font-size: var(--fs-title);
  color: var(--clr-white);
  -webkit-text-stroke: 1px var(--clr-primary); 

}
